@import url(../css/reset.css);
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/Noto_Sans_KR/NotoSansKR-Regular.woff') format('woff');
}

* {
  font-family: 'Noto Sans KR';
}
/********************************************
                top-button
********************************************/
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #897e6b;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color:#2d2821;
}
/************************************************
                  top-pop
**************************************************/
.top-pop{
  height: 50px;
  background-color: #000;
  position: relative;
  transition: all 0.3s;
}

.pop-text{
  width: 800px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.d-none{
  display: none;
}

.top-pop > button{
  position:absolute;
  right: 20px;
  top:50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #fff;
}

/************************************************
                header, nav
**************************************************/
header{
  height: 110px;
  background-color: #f2e2c4;
  padding: 0 300px;
}

.header-wrap{
  height: 100%;
  display: flex;
  justify-content:space-between;
}

.logo{
  width: 200px;
  height: 100%;
}

.logo > a{
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
}

.header-right{
  width: 800px;
  height: 100%;
}

.util{
  height: 50%;
  display: flex;
  justify-content:end;
}

.util > p{
  width: 100px;
  padding: 20px 0; 
  font-size: 13px;
  color: #61523f;
} 

.util > p:hover{
  color: #291d1d;
  transform: scale(1.1);
}

nav{
  height: 50%;
  margin-left:50px;
}

nav > ul {
  display: flex;
  padding: 20px 0; 
  width: 100%;
}

nav>ul>li{
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight:bold;
  color: #333;
}


nav > ul > a{
  display: block;
  width: 20%;
  height: 100%;
}

nav > ul > li:hover > a{
  border-bottom: 3px solid #3e2b2c;
  font-weight: bold;
}

nav li {
  width:20%;
}

/******************************************************************
******************************************************************
                          sub2-page
**********************************************************************
*********************************************************************/
.sub-2-container{
  padding: 20px 200px;
}
.sub-2-container .sub-2-wrap{
  display: flex;
  justify-content: space-between;
  /* background-color: #e0d0d0; */
  width: 100%;
  height: 1000px;
  flex-flow: wrap;
}

/*.sub-2-nav*/
.sub-2-wrap .sub-2-nav{
  width: 250px;
  height: 80%;
  background-color: #F1E3C4;
  padding: 20px;
  border: 2px solid #ede5d3;
}

.sub-2-nav h1{
  font-size: 25px;
  font-weight: 400;
  border-bottom: 5px solid #3e2b2c;
  line-height: 1.5;
}
.sub-2-nav .sub2-gnb{
  /* background-color: #fff; */
  margin-top: 30px;
  margin-bottom: 50px;
}
.sub-2-nav .sub2-gnb>li{
  margin-bottom: 30px;
}
.sub-2-nav .sub2-gnb>li>a{
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  border-bottom: 1px dotted #7c6c6d;
  color: #3e2b2c;
}

.sub-2-nav .sub2-gnb>li>a:last-child{
  border-bottom: none;
}

.sub-2-nav .sub2-gnb>li>.sub2-sub{
  margin-top: 5px;
  line-height: 1.5;
}

.sub-2-nav .sub2-gnb>li>.sub2-sub>li>a{
  display: block;
  color:#876234;
  font-size: 14px;
  font-weight: 500;
}

.sub-2-nav .sub2-gnb>li>.sub2-sub>li:hover>a{
  background-color: #D3C09A;
}

.sub-2-nav .nav-button{
  width: 200px;
  height: 45px;
  background-color: #81725F;
  margin:0 auto;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
}

/*.sub-2-contents-wrap*/
.sub-2-wrap .sub-2-contents-wrap{
  width: calc(100% - 500px);
  height: 100%;
  margin: 0 auto;
  /* background-color: lawngreen; */
  /* margin-top: 50px; */
}

.sub-2-contents-wrap .sub-2-contents-text{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;

}

.sub-2-contents-wrap .sub-2-contents-text h2{
  font-size: 25px;
  font-weight: 500;
  margin-left: 10px;
}
.sub-2-contents-wrap .sub-2-contents-text p{
  font-size: 14px;
  margin-right: 10px;
}

/* swiper slieder */
.swiper {
  width: 100%;
  height: 60%;
  /* background-color: rgb(209, 80, 102); */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 30%;
  width: 100%;
}

.mySwiper {
  height: 10%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub2-bottom-text{
  height:500px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  display: flex;
  margin-top: 30px;
}

.sub2-bottom-text .bottom-text-1{
  width: 50%;
  background-image: url(../images/room-text.jpg);
  background-repeat: no-repeat;
  position: relative;
}
.sub2-bottom-text .bottom-text-1 button{
  width: 150px;
  height: 40px;
  background-color:#836644;
  border: none;
  position: absolute;
  top: 55%;
  left: 10px;
  color: #fff;
  font-weight: 550;
  border-radius: 5px;
}

.sub2-bottom-text .bottom-text-2{
  width: 50%;
  padding: 10px;
}

.sub2-bottom-text .bottom-text-2 .button-wrap{
  display: flex;
  justify-content: space-between;
}
.sub2-bottom-text .bottom-text-2 .button-wrap .button-1{
  border: none;
  width: 150px;
  height: 50px;
  background-color: #836644;
  color:#fff;
  font-weight: 550;
  border-radius: 5px;
}
.sub2-bottom-text .bottom-text-2 .button-wrap .button-2{
  border: none;
  width: 150px;
  height: 50px;
  background-color:#826B51;
  color:#fff;
  font-weight: 550;
  border-radius: 5px;
}
.sub2-bottom-text .bottom-text-2 .button-wrap .button-3{
  border: none;
  width: 150px;
  height: 50px;
  background-color:#3A3125;
  color:#fff;
  font-weight: 550;
  border-radius: 5px;
}
.sub2-bottom-text .bottom-text-2 .package-wrap{
  margin-top: 30px;
  padding: 0 10px;
  position: relative;
}
.sub2-bottom-text .bottom-text-2 .package-wrap h2{
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #333;
  margin-bottom: 20px;
  /* margin-left: 70px; */
}
.sub2-bottom-text .bottom-text-2 .package-wrap .package-img{
  background-image: url(../images/sub-2\ mini.jpg);
  width: 400px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}
.sub2-bottom-text .bottom-text-2 .package-wrap .package-bg{
  width: 400px;
  height: 70px;
  background-color:#33333362;
  position: absolute;
  bottom: 0;
}
.sub2-bottom-text .bottom-text-2 .package-wrap .package-bg p{
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 600;
  color:#fff;
}











/************************************************
                    footer
**************************************************/
footer{
  height:300px;
}

.footer-top{
  height: 50%;
  display: flex;
  padding: 0 100px;
  justify-content: space-around;
  background-color: #ecdebf;
}

.footer-logo{
  width: 20%;
  height: 100%;
  background-color: #ecdebf;
  background-image: url(../images/logo.gif);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-tel-wrap{
  width: 80%;
}

.footer-tel-top{
  height: 40%;
  display: flex;
  padding: 0 50px;
  justify-content: space-around;
}

.footer-tel-top span{
  display: block;
  line-height: 60px;
  font-size: 18px;
  color: #8a8881;
}

.footer-tel-top span:hover{
  color: #4a433b;
}

.footer-tel-bottom{
  width: 100%;
  height: 60%;
  display: flex;
}

.footer-tel-bottom-1{
  width: 80%;
  height: 100%;
  display: flex;
  padding: 20px 0;
}

.footer-tel-bottom-1  p:first-child{
  width: 60%;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  color: #333;
  opacity: 0.7;
}

.footer-tel-bottom-1 p:last-child{
  width: 40%;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  color: #4a433b;
  opacity: 0.7;
}

.footer-tel-bottom-1  p:hover{
  opacity: 1;
}

.footer-tel-bottom-2{
  width: 20%;
  height: 100%;
  padding: 0 5px;
  font-size: 14px;
  font-weight: bold;
  color: #4a433b;
}

.footer-tel-bottom-2 p{
  margin-top: 15px;
}

.footer-tel-bottom-2 span{
  margin-top: 15px;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: #9c8c78;
}

.footer-tel-bottom-2 span:hover{
  background-color:#635e59 ;
  transform: scale(1.2);
}

.footer-bottom{
  height: 50%;
  background-color: #ecdebf;
  padding: 0 100px;
}

.footer-bottom-1{
  height: 40%;
  background-color:#ecdebf;
  padding: 0 50px;
  line-height: 60px;
  font-size: 14px;
  font-weight: bold;
  color: #9c8c78 ;
  border-bottom: 1px solid #33333344;
}

.footer-bottom-1 span:hover{
  color: #3e2b2c;
}

.footer-bottom-2{
  height: 60%;
  background-color: #ecdebf;
  padding: 20px 50px;
}

.footer-bottom-2 > p{
  font-size: 13px;
  font-weight: bold;
  color: #4a433b;
  line-height: 1.5;
  opacity: 0.7;
}

.footer-bottom-2 p:last-child{
  color: #000;
  opacity: 0.8;
}